.aside {
    display: none;
}

@media screen and (max-width: 768px) {
    .aside {
        position: fixed;
        opacity: 100%;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: #0d0d0d;
        display: grid;
        align-items: center;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }
}